In [75]:
import pandas as pd
import pickle

In [5]:
df0 = pd.read_csv('https://raw.githubusercontent.com/klauslippert/country-codes/master/data/country-codes.csv')

In [41]:
df1 = df0[['ISO3166-1-Alpha-2',
          'UNTERM Spanish Formal','UNTERM Spanish Short','official_name_es',
          'UNTERM English Formal','UNTERM English Short','official_name_en',
          'UNTERM French Formal','UNTERM French Short','official_name_fr',
          'CLDR display name',
]]

myextra = pd.DataFrame({'ISO3166-1-Alpha-2':['DE','UK','US','IT'],
              'name':['Deutschland','United Kingdom','USA','Italia']})

df2=pd.concat([
    df1[['ISO3166-1-Alpha-2','UNTERM Spanish Formal']].rename(columns={'UNTERM Spanish Formal':'name'}),
    df1[['ISO3166-1-Alpha-2','UNTERM Spanish Short']].rename(columns={'UNTERM Spanish Short':'name'}),
    df1[['ISO3166-1-Alpha-2','official_name_es']].rename(columns={'official_name_es':'name'}),
    df1[['ISO3166-1-Alpha-2','UNTERM English Formal']].rename(columns={'UNTERM English Formal':'name'}),
    df1[['ISO3166-1-Alpha-2','UNTERM English Short']].rename(columns={'UNTERM English Short':'name'}),
    df1[['ISO3166-1-Alpha-2','official_name_en']].rename(columns={'official_name_en':'name'}),
    df1[['ISO3166-1-Alpha-2','UNTERM French Formal']].rename(columns={'UNTERM French Formal':'name'}),
    df1[['ISO3166-1-Alpha-2','UNTERM French Short']].rename(columns={'UNTERM French Short':'name'}),
    df1[['ISO3166-1-Alpha-2','official_name_fr']].rename(columns={'official_name_fr':'name'}),
    df1[['ISO3166-1-Alpha-2','CLDR display name']].rename(columns={'CLDR display name':'name'}),
    myextra
],axis=0)

In [42]:
df3=df2.drop_duplicates(keep='first')

In [61]:
len(df2),len(df3)
df3.head()

  ISO3166-1-Alpha-2                                         name
0                TW                                          NaN
1                AF       República Islámica del Afganistán (la)
2                AL                      la República de Albania
3                DZ  la República Argelina Democrática y Popular
4                AS                                          NaN

In [62]:
df4 = df3[[False if str(x)=='nan' else True for x in df3['name']]].reset_index(drop=True)
len(df4)

1411

In [69]:
lookuplist = df4.rename(columns={'ISO3166-1-Alpha-2':'id',
            'name':'term'})

lookuplist

      id                                         term
0     AF       República Islámica del Afganistán (la)
1     AL                      la República de Albania
2     DZ  la República Argelina Democrática y Popular
3     AD                     el Principado de Andorra
4     AO                       la República de Angola
...   ..                                          ...
1406  VN                                      Vietnam
1407  WF                              Wallis & Futuna
1408  DE                                  Deutschland
1409  UK                               United Kingdom
1410  US                                          USA

[1411 rows x 2 columns]

In [78]:
from keyword_extraction import DictLU_Create_Dict
from keyword_extraction import DictLU_Extract_Exact
DCC = DictLU_Create_Dict(lookuplist)
dicts_lower = DCC.dicts_lower
dicts_upper = DCC.dicts_upper

In [76]:
with open('country_name_iso_dict.p', 'wb') as handle:
    pickle.dump([dicts_lower,dicts_upper], handle)

In [79]:
DEE=DictLU_Extract_Exact(dicts_upper,dicts_lower)

In [80]:
text='Department of Anesthesia, Dalhousie University, IWK Health Centre, Halifax, Nova Scotia, Canada. allen.finley@dal.ca.'

In [83]:
DEE.fast(text)

print(DEE.fast_ids[0])

CA